{% extends 'photo/base.html' %}
{% load cloudinary %}

{% block content %}
<style>
body {
    background: #f4f4f4;
  }

  .banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
 }
#one{
   width:100%;
   height:360px;
   object-fit:cover;
   border-radius:5px;

}
</style>


<div class="container-fluid">
    <div class="px-lg-5">

        <!-- For demo purpose -->
        <div class="row py-5">
            <div class="col-lg-12 mx-auto">
                <div class="text-white p-5 shadow-sm rounded banner">
                    <h3 class="display-6">Graduation Album</h3>

                </div>
            </div>
        </div>
        <!-- End -->

        <div class="row">
            <!-- Gallery item -->
            {% for i in student %}
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">

                <div class="bg-white rounded shadow-sm"><a href="{% url 'student' i.id %}"> <img src="{{ i.image.url }}"
                                                                                                 alt=""
                                                                                                 class="img-fluid card-img-top"
                                                                                                 id="one"> </a>
                    <div class="p-4">
<!--                        <h6 class="text-dark"></h6>-->
                       <p class="small text-muted mb-0">Name: {{ i.name }}</p>
                        <p class="small text-muted mb-0">Phone: {{ i.phone_number }}</p>
                        <div class="d-flex align-items-center justify-content-between px-3 py-2 mt-4">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- End -->

        </div>
        {% if is_paginated %}

        {% if page_obj.has_previous %}
        <a class="btn btn-outline-success mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-success mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-success mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-success mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a class="btn btn-outline-success mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-success mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
        {% endif %}
    </div>
</div>


{% endblock %}
